<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<title>Controllers</title>
	<link href="../libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="main.css" rel="stylesheet">
</head>

<body ng-controller="BlogpostController">

<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand"
			   href="/">Controllers
			</a>
		</div>
		,
	</div>
</nav>


<div class="container main-content">
	<!--<input type="text" ng-model="searchText.nickname" placeholder="filter"/>-->
	<table  border="1">
		<tr class='tabHeader'>
			<th>
				Title
			</th>
			<th>
				Content
			</th>
			<th>
				Author
			</th>
			<th>
				Date
			</th>
		</tr>
		<tr ng-repeat="blog in blogs | orderBy:blog.postdate:true | limitTo:5" class="body">
			<td>{{blog.title}}</td>
			<td>{{blog.content | LimitText}}</td>
			<td>{{blog.author}}</td>
			<td>{{blog.postdate | date:'MM/dd/yyyy'}}</td>
		</tr>
	</table>
</div>

<div class="container main-content">
	<table width='100%' class='formBody'>
		<tr class='tabHeader'>
			<th width='200'>
				Post message
			</th>
			<th>
			</th>
		</tr>
		<tr>
			<th class="title">
				Title
			</th>
			<th>
				<input type="text" ng-model="formData.postTitle" required ng-trim="true"/>
			</th>
		</tr>
		<tr>
			<th class="title">
				Content
			</th>
			<th>
				<textarea ng-model="formData.postContent" name="string"  ng-trim="true" ng-trim="true" required ng-maxlength="300"
				 width='300'>
				</textarea>
			</th>
		</tr>
		<tr>
			<th class="title">
				Author
			</th>
			<th>
				<input type="text" ng-trim="true" ng-model="formData.postAuthor" ng-required="true" />
			</th>
		</tr>
		<tr>
			<th>
				  </br></br>
			</th>
			<th>
				
				<button class="btn btn-primary" ng-click="postSubmit()">Post message
			</button>

			</th>
		</tr>
		
	</table>
</div>
<script src="../libs/angular/angular.min.js"></script>
<script src="main.js"></script>


</body>
</html>
