body {
  padding-top: 50px;
}
.main-content {
  padding: 40px 15px;
}

table {
  width: 100%;
}

th {
	text-align: top;
	padding: 5px 2px 0px 10px;
	height: 20px;
}

td {
	text-align: top;
	vertical-align: top;
	padding: 5px 1px 1px 10px;
	height: 20px;	
}

th.title {
	vertical-align: top;
}

tr.body {
	vertical-align: top;
	background-color: rgb(250,250,250);
}

tr.tabHeader {
	background-color: rgb(56, 126, 245);
}

.formBody {
	background-color: rgb(240,240,240);
}

input {
	margin-bottom: 10px;
	display: block;
	width: 50%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
textarea {
	margin-bottom: 10px;
	display: block;
	width: 50%;
	height: 100px;
	padding: 6px 12px;
	font-size: 14px;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.error {
	color:red;
}